@using ConsumableWarehouse.Domain.Entities
@using ConsumableWarehouse.Domain.Interfaces.Services

@inject IPartnerService PartnerService

<p>All afffiliate products provided by this partner will also be deleted</p>

<button class="btn btn-secondary" @onclick="Decline">
    No
</button>
<button class="btn btn-primary" @onclick="DeletePartner">
    Yes
</button>

@code {
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;

    [Parameter] public Partner partner { get; set; }

    private async Task DeletePartner()
    {
        PartnerService.DeletePartner(partner.Id);

        await Modal.CloseAsync(ModalResult.Ok(true));
    }

    private async Task Decline()
    {
        await Modal.CloseAsync(ModalResult.Ok(false)); 
    }
}
